<div class="dashboard">

  <!-- Welcome -->
  <div class="welcome-card">

    <div class="welcome-text">
      <h2>Welcome back, Ahmed 👋</h2>
      <p>Track your hiring performance easily.</p>

      <button routerLink="/profile">
        View Profile
      </button>
    </div>

    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" />

  </div>

  <!-- Stats -->
  <div class="stats">

    <div class="card">
      <h3>120</h3>
      <p>Total Jobs</p>
    </div>

    <div class="card">
      <h3>80</h3>
      <p>Candidates</p>
    </div>

    <div class="card">
      <h3>25</h3>
      <p>Interviews</p>
    </div>

    <div class="card">
      <h3>15</h3>
      <p>Hired</p>
    </div>

  </div>

  <!-- Charts -->
  <div class="charts">

    <div class="chart-box">
      <h4>Hired Employees</h4>

      <!-- 🔥 مهم -->
      <div class="chart-container">
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <div class="chart-box">
      <h4>Departments</h4>

      <!-- 🔥 مهم -->
      <div class="chart-container">
        <canvas id="pieChart"></canvas>
      </div>
    </div>

  </div>

</div>