<div class="auth-container">

  <!-- Left (نفسه بالظبط) -->
  <div class="auth-left">
    <h2>Your Profile 👤</h2>
    <p>Manage your professional data</p>
  </div>

  <!-- Right -->
  <div class="auth-right">

    <form [formGroup]="profileForm" (ngSubmit)="submit()">

      <input 
        class="auth-input"
        type="text"
        formControlName="specialization"
        placeholder="Specialization"
      >

      <select 
        class="auth-input"
        formControlName="experienceLevel">
        <option value="">Experience Level</option>
        <option value="Junior">Junior</option>
        <option value="Mid">Mid</option>
        <option value="Senior">Senior</option>
      </select>

      <input 
        class="auth-input"
        type="number"
        formControlName="expectedSalary"
        placeholder="Expected Salary"
      >

      <select 
        class="auth-input"
        formControlName="workType">
        <option value="">Work Type</option>
        <option value="Full Time">Full Time</option>
        <option value="Part Time">Part Time</option>
        <option value="Remote">Remote</option>
      </select>

      <button class="auth-btn" type="submit">
        Save Profile
      </button>

    </form>

  </div>

</div>